@model ElMandaloriano.Models.ViewModels.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 style="margin:20px">LA NUEVA REPUBLICA</h1>

    <form method="post">

        <h2 >Misiones a elegir</h2>

        <select name="Id" style="width: 40%; padding: 5px; margin: 20px; box-sizing: content-box;">
            <option value="" disabled selected hidden>Misiones</option>
            @foreach (var mision in Model.ListaMisiones)
            {
                <option value="@mision.Id">@mision.NombreMision</option>
            }
        </select>
                
        <input type="submit" value="Ver Detalles" />

        <h3>@Model.Mision.NombreMision</h3>

        <p>@Model.Mision.Descripcion</p>

        <p>@Model.Mision.Recompensa</p>
        
    </form>
</div>